lab 4/lab4.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="internship">
    <xs:complexType>
      <xs:sequence>
        
        <xs:element name="resorts" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:byte" name="licsno"/>
              <xs:element type="xs:byte" name="areaocc"/>
              <xs:element type="xs:byte" name="leaseperiod"/>
              <xs:element type="xs:string" name="ownername"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
       
      </xs:sequence>
      <xs:attribute type="xs:string" name="forname"/>
    </xs:complexType>
  </xs:element>
</xs:schema>